body {
  background-color: green;
}

.square {
  width: 30%;
  background: rgb(131, 99, 131);
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container {
 margin: 0 auto;
 max-width: 600px;
}

h1 {
  color: white;
  padding-left: 30%;
  font-size: 50px;
}

h2 {
  color: magenta;
  padding-left: 32%;
}